.container {
  position: relative;
}

.resetZoom {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 12px;
  border: 1px solid #c8c8c8;
  padding: 0 0.5rem;
  border-radius: 1rem;
  transition: all 0.2s;
  background-color: #ffffff;
  cursor: pointer;
}

.resetZoom:hover {
  color: #018d73;
  border-color: #018d73;
}

.svg {
  width: 100%;
  height: 68vh;
  cursor: grab;
}

@media screen and (orientation: landscape) {
  .svg {
    height: 68vh;
  }
}

@media screen and (orientation: portrait) {
  .svg {
    height: 60vw;
  }
}

@media screen and (min-width: 1000px) {
  .resetZoom {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5rem;
  }
}

.polygon {
  stroke: none;
}

.polygon:hover {
  fill: rgba(255, 255, 255, 0.8) !important;
}

.border {
  stroke: #4b5563;
  stroke-width: inherit;
  fill: none;
  pointer-events: none;
}

/* Disputed boundary styles */
.borderType3 {
  stroke-dasharray: 1 1;
}

.borderType4 {
  stroke-dasharray: 1 1;
}

.waterArea {
  fill: #ffffff;
}
