.map {
  position: relative;
  z-index: 1;
  width: 100%;
}

.metaInfo {
  display: grid;
  justify-items: right;
  gap: 5px;
}

.loadingOverlay {
  position: absolute;
  z-index: 10;
  top: 10em;
  left: 2em;
  right: 2em;
  pointer-events: none;
}

@media screen and (max-width: 749px) {
  .metaInfo {
    margin: 10px;
    justify-content: stretch;
  }
}

@media screen and (min-width: 750px) {
  .map {
    height: 100%;
  }

  .loadingOverlay {
    left: 50%;
    transform: translateX(-50%);
  }

  .metaInfo {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 2;
  }
}
