.container {
  position: relative;
  width: 100%;
}

.contentContainer {
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: 280px 1fr;
  padding: 10px;
  gap: 15px;
  align-items: start;
  z-index: 10;
  position: relative;
  pointer-events: none;
}

.row.modalMenu {
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.menu {
  position: sticky;
  top: 10px;
  border: 1px solid #cbd5e1;
  pointer-events: initial;
  background-color: #ffffff;
  border-radius: 4px;
}

.modalMenu {
  display: grid;
  grid-template-columns: 1fr;
  pointer-events: initial;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  align-self: stretch;
}

.header {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
  pointer-events: initial;
  background-color: #ffffff;
  border: 1px solid #cbd5e1;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.titleBar {
  display: grid;
  gap: 1rem;
  align-items: start;
  justify-items: start;
}

@media screen and (min-width: 650px) {
  .titleBar {
    gap: 2rem;
    grid-template-columns: 1fr auto;
  }
}

.title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.name {
  font-weight: bold;
  font-size: 1.15rem;
  display: inline;
  color: #0f172a;
}

.metaControls {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5em;
  justify-content: flex-end;
}

.unit {
  color: #64748b;
  font-weight: normal;
}

.dataFilters {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 700px) {
  .dataFilters {
    grid-template-columns: auto 1fr;
    gap: 2em;
    align-items: end;
  }
}

.content {
  pointer-events: initial;
}

.contentBody {
  border: 1px solid #cbd5e1;
  border-top: none;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.modalButton {
  border: 1px solid #cbd5e1;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffffff;
}
