.unit {
  font-style: italic;
  color: #64748b;
}

.range {
  font-size: 0.8em;
  display: grid;
  gap: 0.5em;
}

.rangeGradient {
  height: 1.25em;
  width: 100%;
  border: 1px solid #e2e8f0;
}

.rangeLabels {
  display: flex;
  justify-content: space-between;
  color: #334155;
  font-weight: 500;
}

.singleValue {
  font-size: 1.5em;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em;
  align-items: center;
}

.iconSquare {
  width: 1em;
  height: 1em;
  border-radius: 2px;
}
